<section id="results">
  {{#if schedule}}
    <div class="results-header departure-header">
      <h3>Departure</h3>
      <h4>{{departureAirport}} to {{arrivalAirport}}</h4>
    </div>
    <hr>
    <table class="table table-hover">
      {{partial "table-head"}}
      {{#each flight in schedule.departureFlights}}
        {{render "flight" flight}}
      {{else}}
        {{partial "no-results"}}
      {{/each}}
    </table>
    <div class="results-header arrival-header">
      <h3>Return</h3>
      <h4>{{arrivalAirport}} to {{departureAirport}}</h4>
    </div>
    <hr>
    <table class="table table-hover">
      {{partial "table-head"}}
      {{#each flight in schedule.arrivalFlights}}
        {{render "flight" flight}}
      {{else}}
        {{partial "no-results"}}
      {{/each}}
    </table>
  {{else}}
    {{partial "loading"}}
  {{/if}}
</section>